@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 20% 99%;
    --foreground: 257 10% 14%;
    --card: 270 20% 98%;
    --card-foreground: 257 10% 14%;
    --popover: 270 20% 98%;
    --popover-foreground: 257 10% 14%;
    --primary: 272 51% 54%;
    --primary-foreground: 0 0% 93%;
    --secondary: 277 81% 94%;
    --secondary-foreground: 270 50% 25%;
    --muted: 274 12% 89%;
    --muted-foreground: 257 10% 14%;
    --accent: 285 14% 95%;
    --accent-foreground: 257 10% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 258 11% 82%;
    --input: 258 11% 82%;
    --ring: 272 51% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 6% 7%;
    --foreground: 240 6% 94%;
    --card: 270 4% 10%;
    --card-foreground: 240 6% 94%;
    --popover: 270 4% 10%;
    --popover-foreground: 240 6% 94%;
    --primary: 272 51% 54%;
    --primary-foreground: 0 0% 93%;
    --secondary: 277 39% 22%;
    --secondary-foreground: 275 77% 92%;
    --muted: 264 5% 20%;
    --muted-foreground: 240 6% 94%;
    --accent: 260 4% 14%;
    --accent-foreground: 240 6% 94%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 257 5% 29%;
    --input: 257 5% 29%;
    --ring: 272 51% 54%;
  }
}

@layer base {
	:root {
		font-family: 'Inter', sans-serif;
		--font-sans: 'Inter';
    --font-cal: "CalSans";
	}
	@supports (font-variation-settings: normal) {
		:root {
			font-family: 'InterVariable', sans-serif;
			font-optical-sizing: auto;
			--font-sans: 'InterVariable';
		}
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}
